body { background: #556bf5; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 31px; display: flex; }
.block-logger-0 { color: #83fba8; font-size: 17px; margin-bottom: 5px; }
.block-logger-1 { color: #2b3165; font-size: 12px; margin-bottom: 5px; }
.block-search-2 { color: #d7c55b; font-size: 16px; margin-bottom: 5px; }
.block-sms-3 { color: #c96a1; font-size: 12px; margin-bottom: 5px; }
.block-token-4 { color: #aca1dd; font-size: 19px; margin-bottom: 5px; }
.block-uploader-5 { color: #d8ea2c; font-size: 20px; margin-bottom: 5px; }